body {
  background-color: #a8dadc;
  color: #1d3557;
}

#barra_nav {
  background-color: #e63946;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#barra_nav li {
  float: left;
}

#barra_nav a {
  display: block;
  color: #f1faee;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#barra_nav a:hover {
  background-color: #f1faee;
  color: #e63946;
}

#titulo {
  background-color: #457b9d;
  border-style: double;
  border-color: #1d3557;
  border-width: 5px;
  height: 150px;
  text-align: center;
  color: #f1faee;
}

#fotoPerfil {
  width: 150px;
  height: inherit;
  float: left;
}

h3 {
  text-decoration: underline;
}

.sobreMi {
  text-align: justify;
  text-indent: 10pt;
}

dt {
  font-weight: bold;
  text-transform: uppercase;
}

dd {
  font-style: italic;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #e63946;
  color: #f1faee;
  border-style: solid;
  border-color: #1d3557;
  border-width: 2px;
  padding: 8px;
  font-size: 22px;
}

td {
  background-color: #457b9d;
  border-style: solid;
  border-color: #1d3557;
  border-width: 2px;
  color: #f1faee;
  font-size: 18px;
}

.listaSkills {
  margin: 0;
  padding: 5px 10px;
}

.listaSkills li {
  list-style-type: none;
}

#pie_pagina span {
  display: inline-block;
  padding: 15px;
  vertical-align: 5px;
}

#pie_pagina a {
  text-decoration: none;
  color: #1d3557;
}

#pie_pagina a:hover {
  font-weight: bolder;
  color: #457b9d;
}
