body {
  background-color: #a8dadc;
  color: #1d3557;
}

header {
  background-color: #457b9d;
  border: double #1d3557 5px;
  height: 150px;
  text-align: center;
  color: #f1faee;
}

#fotoPerfil {
  width: 150px;
  height: inherit;
  float: left;
}

nav {
  background-color: #e63946;
  border-radius: 12px;
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block;
  color: #f1faee;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
  background-color: #f1faee;
  color: #e63946;
  border-radius: inherit;
}

h3 {
  text-decoration: underline;
}

hr {
  border: inset 2px steelblue;
}

.sobreMi p {
  text-align: justify;
  text-indent: 15pt;
}

dt {
  font-weight: bold;
  text-transform: uppercase;
}

dd:first-of-type {
  font-style: italic;
}

dd a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #e63946;
  color: #f1faee;
  border: solid #1d3557 2px;
  padding: 8px;
  font-size: 22px;
}

td {
  background-color: #457b9d;
  border-style: solid;
  border-color: #1d3557;
  border-width: 2px;
  color: #f1faee;
  font-size: 18px;
}

.skills ul {
  margin: 0;
  padding: 5px 10px;
}

.skills li {
  list-style-type: none;
}

footer {
  text-align: center;
}

footer span {
  display: inline-block;
  padding: 15px;
  vertical-align: 5px;
}

footer a {
  text-decoration: none;
  color: #1d3557;
}

footer a:hover {
  font-weight: bolder;
  color: #457b9d;
}

footer p {
  font-size: 12px;
}
